*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Castoro', serif;

}

/* body {
    min-height 100vh;
} */

body, html {
background-color:#DCBBB2;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* end css reset \\\\\\\\\\\\\\ */

/* begin navbar */

#mainNavbar .navbar-brand {
/* color: #00332E; */
/* color: #D37F59; */
font-size: 2.5rem;
letter-spacing: 7px;
margin-left: 50px;
margin-right: 80px;
}

#mainNavbar .nav-link {
    color: white;
    margin-bottom: 50px;
}

#mainNavbar .nav-link:hover {
    /* color: #00332E; */
}

#mainNavbar {
    font-size: 1.5rem;
}

.nav-item{
    font-size: 16px;
    padding-left: 0px;
    padding-right: 0px;

}

/* end navbar */

#firstRow {
    margin-top: 10rem;
}

/* end navbar */

#carouselContainer{
margin-bottom: 50px;
}

.d-block {
    margin-bottom: 40px;
    border-radius: 10px;;

}